@import "tailwindcss";

body {
  @apply bg-[#FFFFF6] font-['Poppins'];
}

* {
  outline: none;
}

.spinner-container {
  animation: show 1s 0.5s forwards;
}

.spinner {
  animation: spin 1s linear infinite 0.5s;
}

.dialogbox {
  animation: show 0.5s forwards;
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
